config BACKPORTED_BACKPORT_DIR
	tristate
	default BACKPORT_DIR
config BACKPORTED_BACKPORTS_RELEASE_TAG
	tristate
	default BACKPORTS_RELEASE_TAG
config BACKPORTED_DII_KERNEL_HEAD
	tristate
	default DII_KERNEL_HEAD
config BACKPORTED_BASE_KERNEL_NAME
	tristate
	default BASE_KERNEL_NAME
config BACKPORTED_DII_KERNEL_TAG
	tristate
	default DII_KERNEL_TAG
config BACKPORTED_EXPERT
	tristate
	default EXPERT
config BACKPORTED_BP_MODULES
	tristate
	default BP_MODULES
config BACKPORTED_DRM_I915
	tristate
	default DRM_I915
config BACKPORTED_DRM_I915_FORCE_PROBE
	tristate
	default DRM_I915_FORCE_PROBE
config BACKPORTED_DRM_I915_CAPTURE_ERROR
	tristate
	default DRM_I915_CAPTURE_ERROR
config BACKPORTED_DRM_I915_COMPRESS_ERROR
	tristate
	default DRM_I915_COMPRESS_ERROR
config BACKPORTED_DRM_I915_USERPTR
	tristate
	default DRM_I915_USERPTR
config BACKPORTED_DRM_I915_GVT
	tristate
	default DRM_I915_GVT
config BACKPORTED_DRM_I915_GVT_KVMGT
	tristate
	default DRM_I915_GVT_KVMGT
config BACKPORTED_DRM_I915_PXP
	tristate
	default DRM_I915_PXP
config BACKPORTED_DRM_I915_DEBUGGER
	tristate
	default DRM_I915_DEBUGGER
config BACKPORTED_DRM_I915_SVM
	tristate
	default DRM_I915_SVM
config BACKPORTED_DRM_I915_WERROR
	tristate
	default DRM_I915_WERROR
config BACKPORTED_DRM_I915_DEBUG
	tristate
	default DRM_I915_DEBUG
config BACKPORTED_DRM_I915_DEBUG_MMIO
	tristate
	default DRM_I915_DEBUG_MMIO
config BACKPORTED_DRM_I915_DEBUG_GEM
	tristate
	default DRM_I915_DEBUG_GEM
config BACKPORTED_DRM_I915_DEBUG_GEM_ONCE
	tristate
	default DRM_I915_DEBUG_GEM_ONCE
config BACKPORTED_DRM_I915_ERRLOG_GEM
	tristate
	default DRM_I915_ERRLOG_GEM
config BACKPORTED_DRM_I915_TRACE_GEM
	tristate
	default DRM_I915_TRACE_GEM
config BACKPORTED_DRM_I915_TRACE_GTT
	tristate
	default DRM_I915_TRACE_GTT
config BACKPORTED_DRM_I915_SW_FENCE_DEBUG_OBJECTS
	tristate
	default DRM_I915_SW_FENCE_DEBUG_OBJECTS
config BACKPORTED_DRM_I915_SW_FENCE_CHECK_DAG
	tristate
	default DRM_I915_SW_FENCE_CHECK_DAG
config BACKPORTED_DRM_I915_DEBUG_GUC
	tristate
	default DRM_I915_DEBUG_GUC
config BACKPORTED_DRM_I915_DEBUG_IOV
	tristate
	default DRM_I915_DEBUG_IOV
config BACKPORTED_DRM_I915_SELFTEST
	tristate
	default DRM_I915_SELFTEST
config BACKPORTED_DRM_I915_SELFTEST_BROKEN
	tristate
	default DRM_I915_SELFTEST_BROKEN
config BACKPORTED_DRM_I915_LOW_LEVEL_TRACEPOINTS
	tristate
	default DRM_I915_LOW_LEVEL_TRACEPOINTS
config BACKPORTED_DRM_I915_DEBUG_VBLANK_EVADE
	tristate
	default DRM_I915_DEBUG_VBLANK_EVADE
config BACKPORTED_DRM_I915_DEBUG_RUNTIME_PM
	tristate
	default DRM_I915_DEBUG_RUNTIME_PM
config BACKPORTED_DRM_I915_DEBUG_WAKEREF
	tristate
	default DRM_I915_DEBUG_WAKEREF
config BACKPORTED_DRM_I915_PCIE_STRICT_WRITE_ORDERING
	tristate
	default DRM_I915_PCIE_STRICT_WRITE_ORDERING
config BACKPORTED_DRM_I915_DEBUG_CONTIGUOUS
	tristate
	default DRM_I915_DEBUG_CONTIGUOUS
config BACKPORTED_DRM_I915_DUMP_PPGTT
	tristate
	default DRM_I915_DUMP_PPGTT
config BACKPORTED_DRM_I915_REQUEST_TIMEOUT
	tristate
	default DRM_I915_REQUEST_TIMEOUT
config BACKPORTED_DRM_I915_FENCE_TIMEOUT
	tristate
	default DRM_I915_FENCE_TIMEOUT
config BACKPORTED_DRM_I915_USERFAULT_AUTOSUSPEND
	tristate
	default DRM_I915_USERFAULT_AUTOSUSPEND
config BACKPORTED_DRM_I915_HEARTBEAT_INTERVAL
	tristate
	default DRM_I915_HEARTBEAT_INTERVAL
config BACKPORTED_DRM_I915_PREEMPT_TIMEOUT
	tristate
	default DRM_I915_PREEMPT_TIMEOUT
config BACKPORTED_DRM_I915_PREEMPT_TIMEOUT_COMPUTE
	tristate
	default DRM_I915_PREEMPT_TIMEOUT_COMPUTE
config BACKPORTED_DRM_I915_PREEMPT_TIMEOUT_COMPUTE_COPY
	tristate
	default DRM_I915_PREEMPT_TIMEOUT_COMPUTE_COPY
config BACKPORTED_DRM_I915_MAX_REQUEST_BUSYWAIT
	tristate
	default DRM_I915_MAX_REQUEST_BUSYWAIT
config BACKPORTED_DRM_I915_STOP_TIMEOUT
	tristate
	default DRM_I915_STOP_TIMEOUT
config BACKPORTED_DRM_I915_TIMESLICE_DURATION
	tristate
	default DRM_I915_TIMESLICE_DURATION
config BACKPORTED_DRM_I915_DEBUGGER_KFIFO
	tristate
	default DRM_I915_DEBUGGER_KFIFO
config BACKPORTED_DRM_I915_UNSTABLE
	tristate
	default DRM_I915_UNSTABLE
config BACKPORTED_DRM_I915_INTEL_FABRIC
	tristate
	default DRM_I915_INTEL_FABRIC
config BACKPORTED_IAF_DEBUG_ENABLE
	tristate
	default IAF_DEBUG_ENABLE
config BACKPORTED_IAF_DEBUG_ALTERNATE_FW_LOAD
	tristate
	default IAF_DEBUG_ALTERNATE_FW_LOAD
config BACKPORTED_IAF_DEBUG_SELFTESTS
	tristate
	default IAF_DEBUG_SELFTESTS
config BACKPORTED_IAF_DEBUG_FIRMWARE_ROPTION
	tristate
	default IAF_DEBUG_FIRMWARE_ROPTION
config BACKPORTED_IAF_DEBUG_MBOX_ACCESS
	tristate
	default IAF_DEBUG_MBOX_ACCESS
config BACKPORTED_IAF_DEBUG_STARTUP
	tristate
	default IAF_DEBUG_STARTUP
