config BACKPORTED_BACKPORT_DIR
	tristate
	default BACKPORT_DIR
config BACKPORTED_BACKPORTS_RELEASE_TAG
	tristate
	default BACKPORTS_RELEASE_TAG
config BACKPORTED_DII_KERNEL_HEAD
	tristate
	default DII_KERNEL_HEAD
config BACKPORTED_BASE_KERNEL_NAME
	tristate
	default BASE_KERNEL_NAME
config BACKPORTED_DII_KERNEL_TAG
	tristate
	default DII_KERNEL_TAG
config BACKPORTED_BP_MODULES
	tristate
	default BP_MODULES
config BACKPORTED_BPAUTO_BUILD_NLATTR
	tristate
	default BPAUTO_BUILD_NLATTR
config BACKPORTED_BPAUTO_BUILD_CORDIC
	tristate
	default BPAUTO_BUILD_CORDIC
config BACKPORTED_BPAUTO_CORDIC
	tristate
	default BPAUTO_CORDIC
config BACKPORTED_BPAUTO_MII
	tristate
	default BPAUTO_MII
config BACKPORTED_BPAUTO_BUILD_LEDS
	tristate
	default BPAUTO_BUILD_LEDS
config BACKPORTED_BPAUTO_NEW_LEDS
	tristate
	default BPAUTO_NEW_LEDS
config BACKPORTED_BPAUTO_LEDS_CLASS
	tristate
	default BPAUTO_LEDS_CLASS
config BACKPORTED_BPAUTO_LEDS_TRIGGERS
	tristate
	default BPAUTO_LEDS_TRIGGERS
config BACKPORTED_BPAUTO_USERSEL_BUILD_ALL
	tristate
	default BPAUTO_USERSEL_BUILD_ALL
config BACKPORTED_BPAUTO_WANT_DEV_COREDUMP
	tristate
	default BPAUTO_WANT_DEV_COREDUMP
config BACKPORTED_BPAUTO_BUILD_WANT_DEV_COREDUMP
	tristate
	default BPAUTO_BUILD_WANT_DEV_COREDUMP
config BACKPORTED_BPAUTO_RHASHTABLE
	tristate
	default BPAUTO_RHASHTABLE
config BACKPORTED_BPAUTO_BUCKET_LOCKS
	tristate
	default BPAUTO_BUCKET_LOCKS
config BACKPORTED_BPAUTO_BUILD_HDMI
	tristate
	default BPAUTO_BUILD_HDMI
config BACKPORTED_BPAUTO_HDMI
	tristate
	default BPAUTO_HDMI
config BACKPORTED_BPAUTO_REFCOUNT
	tristate
	default BPAUTO_REFCOUNT
config BACKPORTED_BPAUTO_DMA_FENCE_TRACE
	tristate
	default BPAUTO_DMA_FENCE_TRACE
config BACKPORTED_BPAUTO_SYSTEM_DATA_VERIFICATION
	tristate
	default BPAUTO_SYSTEM_DATA_VERIFICATION
config BACKPORTED_BPAUTO_BUILD_SYSTEM_DATA_VERIFICATION
	tristate
	default BPAUTO_BUILD_SYSTEM_DATA_VERIFICATION
config BACKPORTED_BPAUTO_PUBLIC_KEY
	tristate
	default BPAUTO_PUBLIC_KEY
config BACKPORTED_BPAUTO_ASN1_DECODER
	tristate
	default BPAUTO_ASN1_DECODER
config BACKPORTED_BPAUTO_PKCS7
	tristate
	default BPAUTO_PKCS7
config BACKPORTED_BPAUTO_CRYPTO_LIB_ARC4
	tristate
	default BPAUTO_CRYPTO_LIB_ARC4
config BACKPORTED_BPAUTO_BUILD_CRYPTO_LIB_ARC4
	tristate
	default BPAUTO_BUILD_CRYPTO_LIB_ARC4
config BACKPORTED_BOTH_DMABUF_I915
	tristate
	default BOTH_DMABUF_I915
config BACKPORTED_ONLY_DMABUF
	tristate
	default ONLY_DMABUF
config BACKPORTED_ONLY_I915
	tristate
	default ONLY_I915
config BACKPORTED_SYNC_FILE
	tristate
	default SYNC_FILE
config BACKPORTED_SW_SYNC
	tristate
	default SW_SYNC
config BACKPORTED_DMABUF_MOVE_NOTIFY
	tristate
	default DMABUF_MOVE_NOTIFY
config BACKPORTED_DMABUF_DEBUG
	tristate
	default DMABUF_DEBUG
config BACKPORTED_DMABUF_SELFTESTS
	tristate
	default DMABUF_SELFTESTS
config BACKPORTED_DMABUF_HEAPS
	tristate
	default DMABUF_HEAPS
config BACKPORTED_DMABUF_SYSFS_STATS
	tristate
	default DMABUF_SYSFS_STATS
config BACKPORTED_DMABUF_HEAPS_SYSTEM
	tristate
	default DMABUF_HEAPS_SYSTEM
config BACKPORTED_DMABUF_HEAPS_CMA
	tristate
	default DMABUF_HEAPS_CMA
config BACKPORTED_DRM
	tristate
	default DRM
config BACKPORTED_DRM_MIPI_DBI
	tristate
	default DRM_MIPI_DBI
config BACKPORTED_DRM_MIPI_DSI
	tristate
	default DRM_MIPI_DSI
config BACKPORTED_DRM_DP_AUX_BUS
	tristate
	default DRM_DP_AUX_BUS
config BACKPORTED_DRM_DP_AUX_CHARDEV
	tristate
	default DRM_DP_AUX_CHARDEV
config BACKPORTED_DRM_DEBUG_MM
	tristate
	default DRM_DEBUG_MM
config BACKPORTED_DRM_DEBUG_SELFTEST
	tristate
	default DRM_DEBUG_SELFTEST
config BACKPORTED_DRM_KMS_HELPER
	tristate
	default DRM_KMS_HELPER
config BACKPORTED_DRM_DEBUG_DP_MST_TOPOLOGY_REFS
	tristate
	default DRM_DEBUG_DP_MST_TOPOLOGY_REFS
config BACKPORTED_DRM_DEBUG_MODESET_LOCK
	tristate
	default DRM_DEBUG_MODESET_LOCK
config BACKPORTED_DRM_FBDEV_EMULATION
	tristate
	default DRM_FBDEV_EMULATION
config BACKPORTED_DRM_FBDEV_OVERALLOC
	tristate
	default DRM_FBDEV_OVERALLOC
config BACKPORTED_DRM_FBDEV_LEAK_PHYS_SMEM
	tristate
	default DRM_FBDEV_LEAK_PHYS_SMEM
config BACKPORTED_DRM_LOAD_EDID_FIRMWARE
	tristate
	default DRM_LOAD_EDID_FIRMWARE
config BACKPORTED_DRM_DP_CEC
	tristate
	default DRM_DP_CEC
config BACKPORTED_DRM_TTM
	tristate
	default DRM_TTM
config BACKPORTED_DRM_VRAM_HELPER
	tristate
	default DRM_VRAM_HELPER
config BACKPORTED_DRM_TTM_HELPER
	tristate
	default DRM_TTM_HELPER
config BACKPORTED_DRM_GEM_CMA_HELPER
	tristate
	default DRM_GEM_CMA_HELPER
config BACKPORTED_DRM_KMS_CMA_HELPER
	tristate
	default DRM_KMS_CMA_HELPER
config BACKPORTED_DRM_GEM_SHMEM_HELPER
	tristate
	default DRM_GEM_SHMEM_HELPER
config BACKPORTED_DRM_SCHED
	tristate
	default DRM_SCHED
config BACKPORTED_DRM_RADEON
	tristate
	default DRM_RADEON
config BACKPORTED_DRM_AMDGPU
	tristate
	default DRM_AMDGPU
config BACKPORTED_DRM_VGEM
	tristate
	default DRM_VGEM
config BACKPORTED_DRM_VKMS
	tristate
	default DRM_VKMS
config BACKPORTED_DRM_HYPERV
	tristate
	default DRM_HYPERV
config BACKPORTED_DRM_LEGACY
	tristate
	default DRM_LEGACY
config BACKPORTED_DRM_TDFX
	tristate
	default DRM_TDFX
config BACKPORTED_DRM_R128
	tristate
	default DRM_R128
config BACKPORTED_DRM_I810
	tristate
	default DRM_I810
config BACKPORTED_DRM_MGA
	tristate
	default DRM_MGA
config BACKPORTED_DRM_SIS
	tristate
	default DRM_SIS
config BACKPORTED_DRM_VIA
	tristate
	default DRM_VIA
config BACKPORTED_DRM_SAVAGE
	tristate
	default DRM_SAVAGE
config BACKPORTED_DRM_EXPORT_FOR_TESTS
	tristate
	default DRM_EXPORT_FOR_TESTS
config BACKPORTED_DRM_PANEL_ORIENTATION_QUIRKS
	tristate
	default DRM_PANEL_ORIENTATION_QUIRKS
config BACKPORTED_DRM_LIB_RANDOM
	tristate
	default DRM_LIB_RANDOM
config BACKPORTED_DRM_I915
	tristate
	default DRM_I915
config BACKPORTED_DRM_I915_FORCE_PROBE
	tristate
	default DRM_I915_FORCE_PROBE
config BACKPORTED_DRM_I915_CAPTURE_ERROR
	tristate
	default DRM_I915_CAPTURE_ERROR
config BACKPORTED_DRM_I915_COMPRESS_ERROR
	tristate
	default DRM_I915_COMPRESS_ERROR
config BACKPORTED_DRM_I915_USERPTR
	tristate
	default DRM_I915_USERPTR
config BACKPORTED_DRM_I915_GVT
	tristate
	default DRM_I915_GVT
config BACKPORTED_DRM_I915_GVT_KVMGT
	tristate
	default DRM_I915_GVT_KVMGT
config BACKPORTED_DRM_I915_PXP
	tristate
	default DRM_I915_PXP
config BACKPORTED_DRM_I915_DEBUGGER
	tristate
	default DRM_I915_DEBUGGER
config BACKPORTED_DRM_I915_SVM
	tristate
	default DRM_I915_SVM
config BACKPORTED_DRM_I915_WERROR
	tristate
	default DRM_I915_WERROR
config BACKPORTED_DRM_I915_DEBUG
	tristate
	default DRM_I915_DEBUG
config BACKPORTED_DRM_I915_DEBUG_MMIO
	tristate
	default DRM_I915_DEBUG_MMIO
config BACKPORTED_DRM_I915_DEBUG_GEM
	tristate
	default DRM_I915_DEBUG_GEM
config BACKPORTED_DRM_I915_DEBUG_GEM_ONCE
	tristate
	default DRM_I915_DEBUG_GEM_ONCE
config BACKPORTED_DRM_I915_ERRLOG_GEM
	tristate
	default DRM_I915_ERRLOG_GEM
config BACKPORTED_DRM_I915_TRACE_GEM
	tristate
	default DRM_I915_TRACE_GEM
config BACKPORTED_DRM_I915_TRACE_GTT
	tristate
	default DRM_I915_TRACE_GTT
config BACKPORTED_DRM_I915_SW_FENCE_DEBUG_OBJECTS
	tristate
	default DRM_I915_SW_FENCE_DEBUG_OBJECTS
config BACKPORTED_DRM_I915_SW_FENCE_CHECK_DAG
	tristate
	default DRM_I915_SW_FENCE_CHECK_DAG
config BACKPORTED_DRM_I915_DEBUG_GUC
	tristate
	default DRM_I915_DEBUG_GUC
config BACKPORTED_DRM_I915_DEBUG_IOV
	tristate
	default DRM_I915_DEBUG_IOV
config BACKPORTED_DRM_I915_SELFTEST
	tristate
	default DRM_I915_SELFTEST
config BACKPORTED_DRM_I915_SELFTEST_BROKEN
	tristate
	default DRM_I915_SELFTEST_BROKEN
config BACKPORTED_DRM_I915_LOW_LEVEL_TRACEPOINTS
	tristate
	default DRM_I915_LOW_LEVEL_TRACEPOINTS
config BACKPORTED_DRM_I915_DEBUG_VBLANK_EVADE
	tristate
	default DRM_I915_DEBUG_VBLANK_EVADE
config BACKPORTED_DRM_I915_DEBUG_RUNTIME_PM
	tristate
	default DRM_I915_DEBUG_RUNTIME_PM
config BACKPORTED_DRM_I915_DEBUG_WAKEREF
	tristate
	default DRM_I915_DEBUG_WAKEREF
config BACKPORTED_DRM_I915_PCIE_STRICT_WRITE_ORDERING
	tristate
	default DRM_I915_PCIE_STRICT_WRITE_ORDERING
config BACKPORTED_DRM_I915_DEBUG_CONTIGUOUS
	tristate
	default DRM_I915_DEBUG_CONTIGUOUS
config BACKPORTED_DRM_I915_DUMP_PPGTT
	tristate
	default DRM_I915_DUMP_PPGTT
config BACKPORTED_DRM_I915_REQUEST_TIMEOUT
	tristate
	default DRM_I915_REQUEST_TIMEOUT
config BACKPORTED_DRM_I915_FENCE_TIMEOUT
	tristate
	default DRM_I915_FENCE_TIMEOUT
config BACKPORTED_DRM_I915_USERFAULT_AUTOSUSPEND
	tristate
	default DRM_I915_USERFAULT_AUTOSUSPEND
config BACKPORTED_DRM_I915_HEARTBEAT_INTERVAL
	tristate
	default DRM_I915_HEARTBEAT_INTERVAL
config BACKPORTED_DRM_I915_PREEMPT_TIMEOUT
	tristate
	default DRM_I915_PREEMPT_TIMEOUT
config BACKPORTED_DRM_I915_PREEMPT_TIMEOUT_COMPUTE
	tristate
	default DRM_I915_PREEMPT_TIMEOUT_COMPUTE
config BACKPORTED_DRM_I915_PREEMPT_TIMEOUT_COMPUTE_COPY
	tristate
	default DRM_I915_PREEMPT_TIMEOUT_COMPUTE_COPY
config BACKPORTED_DRM_I915_MAX_REQUEST_BUSYWAIT
	tristate
	default DRM_I915_MAX_REQUEST_BUSYWAIT
config BACKPORTED_DRM_I915_STOP_TIMEOUT
	tristate
	default DRM_I915_STOP_TIMEOUT
config BACKPORTED_DRM_I915_TIMESLICE_DURATION
	tristate
	default DRM_I915_TIMESLICE_DURATION
config BACKPORTED_DRM_I915_UNSTABLE
	tristate
	default DRM_I915_UNSTABLE
config BACKPORTED_DRM_I915_INTEL_FABRIC
	tristate
	default DRM_I915_INTEL_FABRIC
config BACKPORTED_IAF_DEBUG_ENABLE
	tristate
	default IAF_DEBUG_ENABLE
config BACKPORTED_IAF_DEBUG_ALTERNATE_FW_LOAD
	tristate
	default IAF_DEBUG_ALTERNATE_FW_LOAD
config BACKPORTED_IAF_DEBUG_SELFTESTS
	tristate
	default IAF_DEBUG_SELFTESTS
config BACKPORTED_IAF_DEBUG_FIRMWARE_ROPTION
	tristate
	default IAF_DEBUG_FIRMWARE_ROPTION
config BACKPORTED_IAF_DEBUG_MBOX_ACCESS
	tristate
	default IAF_DEBUG_MBOX_ACCESS
config BACKPORTED_IAF_DEBUG_STARTUP
	tristate
	default IAF_DEBUG_STARTUP
config BACKPORTED_DRM_BRIDGE
	tristate
	default DRM_BRIDGE
config BACKPORTED_DRM_PANEL_BRIDGE
	tristate
	default DRM_PANEL_BRIDGE
config BACKPORTED_DRM_CDNS_DSI
	tristate
	default DRM_CDNS_DSI
config BACKPORTED_DRM_CHIPONE_ICN6211
	tristate
	default DRM_CHIPONE_ICN6211
config BACKPORTED_DRM_CHRONTEL_CH7033
	tristate
	default DRM_CHRONTEL_CH7033
config BACKPORTED_DRM_CROS_EC_ANX7688
	tristate
	default DRM_CROS_EC_ANX7688
config BACKPORTED_DRM_DISPLAY_CONNECTOR
	tristate
	default DRM_DISPLAY_CONNECTOR
config BACKPORTED_DRM_LONTIUM_LT8912B
	tristate
	default DRM_LONTIUM_LT8912B
config BACKPORTED_DRM_LONTIUM_LT9611
	tristate
	default DRM_LONTIUM_LT9611
config BACKPORTED_DRM_LONTIUM_LT9611UXC
	tristate
	default DRM_LONTIUM_LT9611UXC
config BACKPORTED_DRM_ITE_IT66121
	tristate
	default DRM_ITE_IT66121
config BACKPORTED_DRM_LVDS_CODEC
	tristate
	default DRM_LVDS_CODEC
config BACKPORTED_DRM_MEGACHIPS_STDPXXXX_GE_B850V3_FW
	tristate
	default DRM_MEGACHIPS_STDPXXXX_GE_B850V3_FW
config BACKPORTED_DRM_NWL_MIPI_DSI
	tristate
	default DRM_NWL_MIPI_DSI
config BACKPORTED_DRM_NXP_PTN3460
	tristate
	default DRM_NXP_PTN3460
config BACKPORTED_DRM_PARADE_PS8622
	tristate
	default DRM_PARADE_PS8622
config BACKPORTED_DRM_PARADE_PS8640
	tristate
	default DRM_PARADE_PS8640
config BACKPORTED_DRM_SIL_SII8620
	tristate
	default DRM_SIL_SII8620
config BACKPORTED_DRM_SII902X
	tristate
	default DRM_SII902X
config BACKPORTED_DRM_SII9234
	tristate
	default DRM_SII9234
config BACKPORTED_DRM_SIMPLE_BRIDGE
	tristate
	default DRM_SIMPLE_BRIDGE
config BACKPORTED_DRM_THINE_THC63LVD1024
	tristate
	default DRM_THINE_THC63LVD1024
config BACKPORTED_DRM_TOSHIBA_TC358762
	tristate
	default DRM_TOSHIBA_TC358762
config BACKPORTED_DRM_TOSHIBA_TC358764
	tristate
	default DRM_TOSHIBA_TC358764
config BACKPORTED_DRM_TOSHIBA_TC358767
	tristate
	default DRM_TOSHIBA_TC358767
config BACKPORTED_DRM_TOSHIBA_TC358768
	tristate
	default DRM_TOSHIBA_TC358768
config BACKPORTED_DRM_TOSHIBA_TC358775
	tristate
	default DRM_TOSHIBA_TC358775
config BACKPORTED_DRM_TI_TFP410
	tristate
	default DRM_TI_TFP410
config BACKPORTED_DRM_TI_SN65DSI83
	tristate
	default DRM_TI_SN65DSI83
config BACKPORTED_DRM_TI_SN65DSI86
	tristate
	default DRM_TI_SN65DSI86
config BACKPORTED_DRM_TI_TPD12S015
	tristate
	default DRM_TI_TPD12S015
config BACKPORTED_DRM_ANALOGIX_ANX6345
	tristate
	default DRM_ANALOGIX_ANX6345
config BACKPORTED_DRM_ANALOGIX_ANX78XX
	tristate
	default DRM_ANALOGIX_ANX78XX
config BACKPORTED_DRM_ANALOGIX_DP
	tristate
	default DRM_ANALOGIX_DP
config BACKPORTED_DRM_ANALOGIX_ANX7625
	tristate
	default DRM_ANALOGIX_ANX7625
config BACKPORTED_DRM_I2C_ADV7511
	tristate
	default DRM_I2C_ADV7511
config BACKPORTED_DRM_I2C_ADV7511_AUDIO
	tristate
	default DRM_I2C_ADV7511_AUDIO
config BACKPORTED_DRM_I2C_ADV7511_CEC
	tristate
	default DRM_I2C_ADV7511_CEC
config BACKPORTED_DRM_CDNS_MHDP8546
	tristate
	default DRM_CDNS_MHDP8546
config BACKPORTED_DRM_CDNS_MHDP8546_J721E
	tristate
	default DRM_CDNS_MHDP8546_J721E
config BACKPORTED_DRM_DW_HDMI
	tristate
	default DRM_DW_HDMI
config BACKPORTED_DRM_DW_HDMI_AHB_AUDIO
	tristate
	default DRM_DW_HDMI_AHB_AUDIO
config BACKPORTED_DRM_DW_HDMI_I2S_AUDIO
	tristate
	default DRM_DW_HDMI_I2S_AUDIO
config BACKPORTED_DRM_DW_HDMI_CEC
	tristate
	default DRM_DW_HDMI_CEC
config BACKPORTED_DRM_DW_MIPI_DSI
	tristate
	default DRM_DW_MIPI_DSI
