Source: intel-gpgpu-dkms-ubuntu-5.17-oem
Section: kernel
Priority: optional
Maintainer: Intel Linux Graphics Team <linux-graphics@intel.com>
Build-Depends:
 debhelper (>=9),
 dkms,
Standards-Version: 4.3.0
Homepage: https://www.intel.com
Vcs-Browser: https://www.intel.com
Vcs-Git: https://www.intel.com

Package: intel-gpgpu-dkms-ubuntu-5.17-oem
Architecture: all
Depends:
 dkms,
 flex,
 bison,
 libc6-dev | libc-dev,
 ${misc:Depends},
Provides: i915-modules
Description: Out of tree i915 driver for Ubuntu oem kernel version 5.17. 
	     Installed as dkms module.
