#!/usr/bin/make -f

# export DH_VERBOSE = 1
include /usr/share/dpkg/pkg-info.mk

DKMS_PACKAGE_NAME=intel-gpgpu-dkms-ubuntu-5.17-oem
DKMS_PACKAGE_VERSION=$(DEB_VERSION_UPSTREAM)
GENERATED_DKMS_FILES= \
    debian/intel-gpgpu-dkms-ubuntu-5.17-oem.install \
    debian/intel-gpgpu-dkms-ubuntu-5.17-oem.dkms

%:
	dh $@ --with dkms

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:
override_dh_auto_clean:

override_dh_clean:
	-rm -f $(GENERATED_DKMS_FILES)
	dh_clean

# Be careful with these names, they must match the pkg name or you'll get an empty .deb
override_dh_install: debian/intel-gpgpu-dkms-ubuntu-5.17-oem.install
	dh_install --exclude=.gitignore

override_dh_dkms: debian/intel-gpgpu-dkms-ubuntu-5.17-oem.dkms
	dh_dkms -V $(DKMS_PACKAGE_VERSION)

$(GENERATED_DKMS_FILES) : $(GENERATED_DKMS_FILES:=.in) debian/rules
	sed -e 's,@DKMS_PACKAGE_NAME@,$(DKMS_PACKAGE_NAME),g' \
	    -e 's,@DKMS_PACKAGE_VERSION@,$(DKMS_PACKAGE_VERSION),g' \
	    <$(@:=.in) >$@
